 /*reset css */

/* Reset básico compacto */
*{margin:0;padding:0;box-sizing:border-box}html,body{height:100%}body{line-height:1.5;font-family:Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}a{text-decoration:none;color:inherit}table{border-collapse:collapse;border-spacing:0}

/* fim do reset*/


:root {
    --fundo-menu-lateral: #0d0d0d;
    --fundo-claro: #940999;
    --fundo-escuro: #0D0D0D;

    --texto-escuro: #00070D;
    --texto-menu: #0CF25D;
    --texto-claro: #ffffffea;
    --texto-titulo: #0CF25D;

    --detalhes-claro: #91cf9b;
    --detalhes-icones: #ffffff;
    --detalhes-escuro: #D904A0;

    /* --cor-transparente: rgba(0,255,0, 0.5); */
}

/*
.opcoes ul {
    padding: 0;
    list-style-type: none;
  text-align: center;
}

.opcoes ul li {
    display: inline-block;
    margin-right: 10px; /* Espaçamento entre os itens 
}*/

h2, p {
  color: white;
}
.opcoes ul li{
  display:block;
  margin: 10px;
  color: var(--texto-claro);
  
}


/*menu*/
#main-menu{
  background: #1AACD9;
  position: fixed; 
  margin-top: 50%;
  border-radius: 0 50% 50% 0;
  z-index: 1000;
}

#sobre, #contatos{
  height: 2000px;
  
}

#sobre{
  background: #3E1AD9;
}

#contatos{
  background: #1A70D9;
}



/* sobre*/
.logo{
  width:100px;
  padding-top: 0;
  margin: 0 auto;
 display: block;
  border-radius: 20%;
}
.logo img {
  border-radius: 50%;
}
.logo h2 {
  font-size: 10px;
  text-align: center;
  max-width: 100%;
}

.video{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #1AACD9;
  width: 100%;
  height: 100%;
}

