 /*reset css */

/* Reset básico compacto */
*{margin:0;padding:0;box-sizing:border-box}html,body{height:100%}body{line-height:1.5;font-family:Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}a{text-decoration:none;color:inherit}table{border-collapse:collapse;border-spacing:0}

/* fim do reset*/


:root {
    --fundo-menu-lateral: #0d0d0d;
    --fundo-claro: #940999;
    --fundo-escuro: #0D0D0D;

    --texto-escuro: #00070D;
    --texto-menu: #0CF25D;
    --texto-claro: #ffffffea;
    --texto-titulo: #0CF25D;

    --detalhes-claro: #91cf9b;
    --detalhes-icones: #ffffff;
    --detalhes-escuro: #D904A0;

    /* --cor-transparente: rgba(0,255,0, 0.5); */
}

/*
.opcoes ul {
    padding: 0;
    list-style-type: none;
  text-align: center;
}

.opcoes ul li {
    display: inline-block;
    margin-right: 10px; /* Espaçamento entre os itens 
}*/

h2, p {
  color: white;
}
.opcoes ul li{
  display:block;
  margin: 10px;
  color: var(--texto-claro);
  
}


/*menu*/
#main-menu{
  background: #1AACD9;
  position: fixed; 
  margin-top: 50%;
  border-radius: 0 50% 50% 0;
  z-index: 1000;
}

#sobre, #contatos{
  height: 2000px;
  
}

#sobre{
  background: #3E1AD9;
}

#contatos{
  background: #1A70D9;
}



/* sobre*/
.logo{
  width:100px;
  padding-top: 0;
  margin: 0 auto;
 display: block;
  border-radius: 20%;
}
.logo img {
  border-radius: 50%;
}
.logo h2 {
  font-size: 10px;
  text-align: center;
  max-width: 100%;
}

.video{
  text-align: center;
  padding-top: 40px;
  background: #1AACD9;
}

/* Media queries para dispositivos móveis */
@media (max-width: 600px) {
    #main-menu .opcoes ul {
        flex-direction: column;
    }

    #main-menu .opcoes ul li {
        margin: 0.5rem 0;
    }

    #sobre .video iframe {
        height: 200px;
    }
}

/* Media queries para tablets */
@media (min-width: 601px) and (max-width: 1023px) {
    #main-menu .opcoes ul {
        flex-direction: row;
    }

    #main-menu .opcoes ul li {
        margin: 0 1.5rem;
    }

    #sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sobre .logo, #sobre .video {
        margin: 1rem 0;
    }

    #sobre .video iframe {
        height: 250px;
    }
}


/* Media queries para telas de PC */
@media (min-width: 1024px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }

    #main-menu .opcoes ul li {
        margin: 0 3rem;
    }

    section {
        padding: 3rem;
    }

    #sobre {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #sobre .logo, #sobre .video {
        flex: 1;
        margin: 0 2rem;
    }

    #sobre .video iframe {
        height: 1000px;
        width: 1000px;
    }
}